* {
    margin: 0; /* Remove a margem padrão de todos os elementos */
    padding: 0; /* Remove o preenchimento padrão de todos os elementos */
    box-sizing: border-box; /* Garante que a largura e altura incluam bordas e preenchimento */
    font-family: Arial, sans-serif; /* Define a fonte padrão do documento */
    overflow-y: hidden;
}

body {
    background-image: url(../img/capa.png); /* Define a imagem de fundo da página */
    background-repeat: no-repeat; /* Impede que a imagem de fundo se repita */
    /* Impede a duplicação */
    background-size: cover; /* Faz a imagem ocupar todo o espaço disponível */
    /* Faz a imagem esticar para cobrir toda a tela */
    background-attachment: fixed; /* Fixa o fundo para que ele não role com o conteúdo */
    /* Mantém o fundo parado ao rolar a página */
    color: #222; /* Define a cor padrão do texto */
    display: flex; /* Ativa o layout flexbox para alinhar o conteúdo */
    justify-content: center; /* Centraliza os itens no eixo principal (vertical aqui) */
    flex-direction: column; /* Organiza os elementos um abaixo do outro */
    align-items: center; /* Centraliza os itens horizontalmente */
    padding-top: 80px; /* Cria um espaço no topo para compensar o cabeçalho fixo */
}

.cabecalho {
    position: fixed; /* Fixa o elemento na tela durante a rolagem */
    top: 0; /* Alinha o elemento exatamente no topo do navegador */
    left: 0; /* Alinha o elemento na extremidade esquerda */
    width: 100%; /* Define que a barra ocupará toda a largura da tela */
    z-index: 1000; /* Garante que o cabeçalho fique acima de qualquer outro elemento */
    display: flex; /* Ativa flexbox para alinhar logo e menu */
    justify-content: space-between; /* Empurra a logo para a esquerda e o menu para a direita */
    align-items: center; /* Centraliza verticalmente os itens dentro da barra */
    padding: 10px 10%; /* Adiciona respiro interno: 10px vertical e 10% lateral */
    background: white; /* Define a cor de fundo do cabeçalho */
    width: 100%; /* Reafirma a largura total (redundante, mas seguro) */
    height: 50px; /* Define uma altura fixa para a barra de navegação */
    padding: 10px 20px;
}

.menu {
  margin-right: 20px;
}
.menu ul {
    display: flex; 
    list-style: none; 
    gap: 20px; 
}

.menu a {
    text-decoration: none; 
    color: #333; 
    font-weight: 500; 
    transition: 0.3s; 
    
}

.logo2 {
    display: flex; 
    align-items: center; 
}

.logo2 img {
    height: 75px; 
    width: auto; 
}

.login {
    display: flex; 
    flex-direction: row; 
    width: 60%; 
    margin: 10px; 
    border-radius: 25px; 
    overflow: hidden; 
}

.coluna_esquerda {
    background-color: #6A0101;
    display: flex; 
    padding: 40px; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    gap: 30px; 
    flex: 1;
}

.cadastro_empresa_link p {
    font-size: 13px; 
    color: #f3f2f2; 
}

.cadastro_empresa_link a {
    color: #f3f2f2; 
    text-decoration: none; 
    font-weight: bold; 
}

.cadastro_empresa_link {
    text-decoration: none; 
    color: #f3f2f2; 
    list-style: none;
    transition: 0.3s; 
}

.campo {
    display: flex; 
    flex-direction: column; 
    width: 100%; 
}

h6 {
    margin-bottom: 6px; 
    display: flex; 
    align-items: flex-start; 
    color: #f3f2f2; 
    font-size: 15px;
}

small {
    margin-bottom: 6px; 
    display: flex; 
    align-items: flex-start; 
    font-size: 13px;
}

input {
    padding: 9px; 
    border-radius: 10px; 
    border: none; 
    width: 100%; 
    box-sizing: border-box;
    outline: none; 
}

.loginbutton {
    width: 100%; 
    display: flex; 
    justify-content: center; 
    margin-top: 15px; 
}

.loginbutton button {
    width: 80%; 
    padding: 9px; 
    border: none; 
    border-radius: 10px;
    background-color: #f3f2f2; 
    color: #6A0101; 
    cursor: pointer; 
    font-size: 15px; 
}

.coluna_direita {
    background-color: #f3f2f2; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    padding: 30px;
    text-align: center; 
    gap: 9px;
    flex: 1;
}

.logo1 {
    display: flex; 
    align-items: center; 
}

.logo1 img {
    height: 300px; 
    width: auto; 
}

.coluna_esquerda h2 {
    font-size: 37px; 
    color: #f3f2f2; 
}

.error{ 
    color: yellow; 
    display:none; 
    font-size: 12px; 
}
.card_erro{ 
    position: fixed; 
    top:70px; 
    right: 20px; 
   display:none;
    background-color:  #fff; 
    color: black;
    width:230px;
    border:green 3px solid;
    padding:10px;
    font-size: 30px;
}