* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: Arial, sans-serif; 
}

body {
    background-color: #f5e6d3;
    font-family: arial, helvetica;
    text-align: center;
}

.cabecalho {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: 1000; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 10%; 
    background: white; 
    width: 100%; 
    height: 50px; 
    padding: 10px 20px;
}

.menu {
  margin-right: 20px;
}

.menu ul {
    display: flex; 
    list-style: none; 
    gap: 20px; 
}

.menu a {
    text-decoration: none; 
    color: #333; 
    font-weight: 500;
}

.logo2 {
    display: flex; 
    align-items: center;
}

.logo2 img {
    height: 75px; 
    width: auto;
}


.container-calculadora{
    max-width: 800px;
    margin: 50px auto 50px;
    padding: 20px;
}

.texto-calculadora{
    text-align: center;
    margin-bottom: 20px;
}

.texto-calculadora h1{
    color: #6A0101;
    font-size: 45px;
    margin-bottom: 20px;
}

.texto-calculadora p{
    max-width: 1000px;
    margin: 0 auto;
    font-size: 16px;
    color: #5b4a4a;
}

#formulario{
    width: 100%;
    max-width: 700px;
    margin: auto;
    background: white;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 2px 15px rgba(0,0,0,.1);
}

.titulo-card{
    margin-bottom: 25px;
}

.titulo-card h2{
    color: #8b0000;
    font-size: 38px;
}

.titulo-card span{
    font-size: 16px;
    color: #777;
    letter-spacing: 1px;
}

#formulario p{
    text-align: left;
    margin-top: 15px;
    margin-bottom: 6px;
    font-weight: bold;
    color: #5b2c2c;
}

#formulario input{
    width: 100%;
    border: none;
    background: #efe7d7;
    border-radius: 6px;
    padding: 14px;
    font-size: 15px;
}

#btn_calcular{
    width: 50%;
    margin-top: 25px;
    font-size: 26px;
    border-radius: 8px;
    background-color: #8b0000;
    color: #ffffff;
    border-radius: 25px;
    padding: 10px;
    border: none;
    font-weight: bold;
}

#mensagem{
    width: 100%;
    max-width: 1000px;
    margin: 10px auto;
    background: #ffffff;
    border-radius: 15px;
    padding: 35px;
    box-shadow: 0 2px 15px rgba(0,0,0,.1);
    text-align: left;
    margin-top: -80px;
}


#mensagem button{
    background: #8b0000;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 30px;
    font-weight: bold;
    cursor: pointer;
    margin-top: -10px;
}

#mensagem:empty{
    display: none;
}

#mensagem h2{
    color: #8b0000;
    margin-bottom: 10px;
    text-align: center;
    font-size: 24px;
}
.texto{
    color: #333;
    font-size: 16px;
}

.prejuizo{
    color: #8b0000;
    font-weight: bold;
}

.lucro{
    color: #0a8f3d;
    font-weight: bold;
}