* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: Arial, sans-serif; 
}
body {
    background-color: #f5e6d3;
    font-family: arial, helvetica;
    text-align: center;
}

.cabecalho {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: 1000; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 10%; 
    background: white; 
    width: 100%; 
    height: 50px; 
    padding: 10px 20px;
}

.menu {
  margin-right: 20px;
}

.menu ul {
    display: flex; /* Coloca os itens da lista em linha horizontal */
    list-style: none; /* Remove as "bolinhas" padrão da lista */
    gap: 20px; /* Cria um espaçamento de 20px entre cada item do menu */
}
.menu a {
    text-decoration: none; /* Remove o sublinhado padrão dos links */
    color: #333; /* Define a cor cinza escuro para os links */
    font-weight: 500; /* Define uma espessura de fonte média */
    transition: 0.3s; /* Suaviza mudanças de cor ou estilo em interações */
}

.logo2 {
    display: flex; /* Permite alinhar o conteúdo interno da logo via flexbox */
    align-items: center; /* Centraliza a imagem da logo verticalmente */
}

.logo2 img {
    height: 75px; /* Define uma altura fixa para a imagem da logo */
    width: auto; /* Mantém a proporção da largura automaticamente */
}



h1 {
    color: #8b0000;
    margin-top: 30px;
}

body > * 
{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

input {
    border-radius: 20px;
    padding: 8px;
    border: 1px solid #8b0000;
    width: 90%;
    margin-bottom: 10px;
    background-color: #fffaf5;
}
button {
    border-radius: 20px;
    padding: 10px;
    background-color: #8b0000;
    color: #ffffff;
    border: none;
    margin-top: 10px;
    width: 10%;
    font-weight: bold;
}
#mensagem {
    width: 90%;
    margin: 20px auto;
    padding: 15px;
    border-radius: 18px;
    border: 1px solid #8b0000;
    background-color: #fffaf5;
    text-align: left;
}
#mensagem:empty {
    display: none;
}

#formulario {
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    background-color: #fffaf5; 
    border: 1px solid #8b0000;
}
.prejuizo {
    color: #b30000; 
    font-weight: bold;
}

.lucro {
    color: #1b8f3a; 
    font-weight: bold;
}

.texto {
    color: #000;
}

