body {
    background-color: #f5e6d3;
    font-family: arial, helvetica;
    text-align: center;
}
#logo {
    width: 180px;
    position: absolute;
    top: 20px;
    left: 50px;
}

h1 {
    color: #8b0000;
    margin-top: 30px;
}

body > * 
{
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

input {
    border-radius: 20px;
    padding: 8px;
    border: 1px solid #8b0000;
    width: 90%;
    margin-bottom: 10px;
    background-color: #fffaf5;
}
button {
    border-radius: 20px;
    padding: 10px;
    background-color: #8b0000;
    color: #ffffff;
    border: none;
    margin-top: 10px;
    width: 95%;
    font-weight: bold;
}
#mensagem {
    width: 90%;
    margin: 20px auto;
    padding: 15px;
    border-radius: 18px;
    border: 1px solid #8b0000;
    background-color: #fffaf5;
    text-align: left;
}
#mensagem:empty {
    display: none;
}

#formulario {
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    background-color: #fffaf5; 
    border: 1px solid #8b0000;
}
.prejuizo {
    color: #b30000; 
    font-weight: bold;
}

.lucro {
    color: #1b8f3a; 
    font-weight: bold;
}

.texto {
    color: #000;
}